<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Editar mi cuenta</h1>
    </div>
    <div class="panel-body">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="myUserName-addon"
                data-toggle="tooltip" data-placement="right" title="Un identificador único para accesar a su cuenta.">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </span>
            <input type="text" id="myUserName" value=""
            class="form-control" aria-describedby="myUserName-addon" placeholder="Nombre de Usuario">
        </div>

        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="myEmail-addon"
                data-toggle="tooltip" data-placement="right" title="Para recuperar su clave en caso de que la extravíe.">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </span>
            <input type="email" id="myEmail" value=""
            class="form-control" aria-describedby="myEmail-addon" placeholder="Correo electrónico">
        </div>

        <span>Ingrese una nueva clave si desea cambiarla.</span>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="myAccountPwd-addon"
                data-toggle="tooltip" data-placement="right" title="Ingrese su clave de acceso nueva.">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </span>
            <input type="password" id="myAccountPwd" value=""
            class="form-control" aria-describedby="myAccountPwd-addon" placeholder="Nueva clave">
        </div>
        <!--div class="input-group input-group-lg">
            <span class="input-group-addon" id="myPwdAgain-addon"
                data-toggle="tooltip" data-placement="right" title="Repita la clave para confirmar.">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </span>
            <input type="password" id="myAccountPwdAgain" value=""
            class="form-control" aria-describedby="myPwdAgain-addon" placeholder="Clave nuevamente">
        </div--><!-- //Password -->

        <div align="center">
            <span>Ingrese su clave actual para llevar a cabo cualquier cambio.</span>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="myAccountCurrentPwd-addon" 
                    data-toggle="tooltip" data-placement="right" title="Su clave actual por seguridad.">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </span>
                <input type="password" id="myAccountCurrentPwd" value=""
                class="form-control" aria-describedby="myAccountPwd-addon" placeholder="Clave actual">
            </div>
            <br />

            <button type="submit" class="btn btn-success btn-lg myAccountSubmit" style="width: 100%" 
                onClick="return Cala_usersUpdateAccount();">Actualizar Cuenta</button>
        </div>
    </div>
</div>

<!-- Bhavana -->
<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Retiro de Meditación</h3>
    </div>
    <div class="panel-body">
        <div class="input-group input-group-lg">
            <h2>Meditaciones globales</h2>
            <select class="form-control input-lg" onChange="return Bhavana_privacyGlobalSet()" id="bhavana_privacyGlobalMeditations">
                <option value="1">Si deseo participar</option>
                <option value="0">No deseo participar</option>
            </select>
            Si usted participa en las meditaciones globales se guardará registro de su localización en cada ocasión,
            estos datos no se asocian a su cuenta personal.
            <br />
            Los datos agregados se muestran en los mapas de meditaciones y gráficas.
            <br />
            El único dato que se registra es el país en el cual se está meditando.
            <br />
            Esta configuración es válida únicamente para este dispositivo.
        </div>
    </div>
</div><!-- //bhavana -->


<!--div class="thumbnail" id="myAccountMyAvatarWrapper">
            <img src="avatars/loader_big.gif" alt="My Avatar" title="My Avatar" id="myAccountMyAvatar">
        </div-->
<!--div id="myAccountPersonalAvatarUploader">
                Mi Foto
                <div class="formInfo">Una foto de usted o cualquier cosa.</div>
            </div>
            <div id="myAccountPersonalBgUploader">

                <div class="formInfo">
                    Other people will see it when they are talking to you.
                    If you have one setup now, you should see it in the background of this page.
                </div>
            </div-->

<!--script type="text/javascript" src="tools/uploader/jquery.form.js"></script>
<script src="tools/uploader/jquery.uploadfile.min.js"></script-->

<script>
Cala.runMeOnConnect.push(Cala_usersSetEditAccount);
Cala.runOnReady(Bhavana_privacyGlobalGet);
$(function () {
        // Set the forms
        $('[data-toggle="tooltip"]').tooltip();
        })
</script>
