Hello :)??
<button class="btn btn-block" onclick="login()">Login with Facebook</button>
    <hr/>

    <button class="btn btn-block" onclick="getInfo()">Get My Info</button>
    <p>Name: <span id="userName"></span></p>
    <img id="userPic"/>
    <hr/>

    <textarea id="Message" placeholder="What's on your mind?" rows="5"></textarea>
    <button class="btn btn-block" onclick="share()">Share</button>
    <hr/>

    <p>Complete Facebook Logout. After logging out, you'll have to login again and provide your Facebook credentials.</p>
    <button class="btn btn-block" onclick="logout()">Logout</button>
    <hr/>

    <button class="btn btn-block" onclick="readPermissions()">Read Permissions</button>

    <p>Revoke App Permissions. After revoking permissions, you'll have to grant permissions again when logging in.</p>
    <button class="btn btn-block" onclick="revoke()">Revoke Permissions</button>
    <script src="openfb.js"></script>
    <script>

    openFB.init({appId: '1769166223330667', tokenStore: window.localStorage});
// Defaults to sessionStorage for storing the Facebook token
//openFB.init({appId: '109442156129342'});
//  Uncomment the line below to store the Facebook token in localStorage instead of sessionStorage
//  openFB.init({appId: 'YOUR_FB_APP_ID', tokenStore: window.localStorage});
function login() {
    openFB.login(
            function(response) {
            if(response.status === 'connected') {
            alert('Facebook login succeeded, got access token: ' + response.authResponse.accessToken);
            } else {
            alert('Facebook login failed: ' + response.error);
            }
            }, {scope: 'email,read_stream,publish_actions'});
}
function getInfo() {
    openFB.api({
path: '/me?fields=email,name,id',
success: function(data) {
console.log(JSON.stringify(data));
document.getElementById("userName").innerHTML = data.name;
document.getElementById("userPic").src = 'http://graph.facebook.com/' + data.id + '/picture?type=small';
},
error: errorHandler});
}
function share() {
    openFB.api({
method: 'POST',
path: '/me/feed',
params: {
message: document.getElementById('Message').value || 'Testing Facebook APIs'
},
success: function() {
alert('the item was posted on Facebook');
},
error: errorHandler});
}
function readPermissions() {
    openFB.api({
method: 'GET',
path: '/me/permissions',
success: function(result) {
alert(JSON.stringify(result.data));
},
error: errorHandler
});
}
function revoke() {
    openFB.revokePermissions(
            function() {
            alert('Permissions revoked');
            },
            errorHandler);
}
function logout() {
    openFB.logout(
            function() {
            alert('Logout successful');
            },
            errorHandler);
}
function errorHandler(error) {
    alert(error.message);
}
</script>

