<div class="page-header">
    <h1 id="pageTitle">Dosis de Felicidad</h1>
</div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <a href="?x=felicidad/wordShuffle" class="onWell">
                <div class="well emptyWell">
                    <h3 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Palabras
                    </h3>
                    <p class="list-group-item-text">
                        Reconozca las palabras viendo las letras que las componen.
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-sm-6">
            <a href="?x=felicidad/wordsPositive" class="onWell">
                <div class="well emptyWell">
                    <h3 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        Palabras positivas
                    </h3>
                    <p class="list-group-item-text">
                        Gane puntos respondiendo solo ante palabras positivas, ignorando lo negativo.
                    </p>
                </div>
            </a>
        </div>
    </div>

    <script>
    </script>


