<div class="page-header">
    <h1>Meditación para la vida diaria</h1>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3">
        <a href="" class="onWell" onClick="return Bhavana_gotoLastSessionPage();">
            <div class="well emptyWell">
                <h3 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                    Meditación Guiada
                </h3>
                <p class="list-group-item-text">
                Serie de meditaciones guiadas Tranquilidad, Introspección, Vida Diaria
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-3">
        <a href="?x=bhavana/timer" class="onWell">
            <div class="well emptyWell">
                <h3 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    Meditación Libre
                </h3>
                <p class="list-group-item-text">
                Un cronómetro para que lleve la práctica a su propio ritmo
                </p>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3">
        <a href="?x=bhavana/checkInNew" class="onWell">
            <div class="well emptyWell">
                <h3 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    ¿Cómo se siente?
                </h3>
                <p class="list-group-item-text">
                Registre como está su mente y siga su progreso
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-3">
        <a href="?x=bhavana/reminders" class="onWell">
            <div class="well emptyWell">
                <h3 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    Alarmas
                </h3>
                <p class="list-group-item-text">
                Nunca olvide una meditación, haga de este retiro su acompañante diario
                </p>
            </div>
        </a>
    </div>
</div>

<div class="page-header">
    <h1>Información y Guía</h1>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <a href="?x=bhavana/intro" class="onWell">
            <div class="well emptyWell">
                <h3 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
                    Aprenda a Meditar
                </h3>
                <p class="list-group-item-text">
                Serie de meditaciones guiadas Tranquilidad, Introspección, Vida Diaria
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6">
        <a href="?x=bhavana/tips" class="onWell">
            <div class="well emptyWell">
                <h3 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    Consejos de Meditación
                </h3>
                <p class="list-group-item-text">
                Una serie de consejos que le ayudarán a meditar mejor
                </p>
            </div>
        </a>
    </div>

</div>

<div class="page-header">
    <h1>Datos</h1>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3">
        <a href="?x=bhavana/checkInView" class="onWell">
            <div class="well emptyWell">
                <h3 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    ¿Cómo me he sentido?
                </h3>
                <p class="list-group-item-text">
                Vea el historial de como se ha sentido estos días
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-3">
        <a href="?x=bhavana/myStats" class="onWell">
            <div class="well emptyWell">
                <h3 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    Mis estadísticas
                </h3>
                <p class="list-group-item-text">
                Vea su progreso día a día
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-3">
        <a href="?x=bhavana/groupStats" class="onWell">
            <div class="well emptyWell">
                <h3 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    Estadísticas grupales
                </h3>
                <p class="list-group-item-text">
                Somos una comunidad global de meditadores cambiando al mundo
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-3">
        <a href="?x=bhavana/meditationMap" class="onWell">
            <div class="well emptyWell">
                <h3 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    Mapa
                </h3>
                <p class="list-group-item-text">
                Vea en el mapa donde estamos meditando
                </p>
            </div>
        </a>
    </div>
</div>


<div class="page-header">
    <h1>La Sangha</h1>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4">
        <a class="onWell" href="?x=bhavana/donate"
            onClick="return Cala_externalLink('donate');" id="donate">
            <div class="well emptyWell">
                <h3 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                    Contribuya o Participe
                </h3>
                <p class="list-group-item-text">
                Sea parte de La Sangha, hay muchas maneras de ayudar
                </p>
            </div>
        </a>
    </div>

    <div class="col-md-8 col-sm-8">
        <!--div class="well emptyWell">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="https://play.google.com/store/apps/details?id=org.lasangha.bhavana" onClick="return Cala_externalLink('playApp');" id="playApp" class="onWell">
                        <img alt="Get it on Google Play"
                        src="https://developer.android.com/images/brand/es-419_generic_rgb_wo_45.png" />
                        <p class="list-group-item-text">
                        Adquiera el app y obtenga muchos más beneficios
                        </p>
                    </a>
                </div>
                <div class="col-md-8 col-sm-8">
                    <h3 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        Recordatorios
                    </h3>
                    <p class="list-group-item-text">
                    Para que no se olvide de meditar. Programe un recordatorio diario para que no olvide su práctica del día o también, puede programar varios para recordar estar presente en todo momento.
                    </p>
                </div>
            </div>
        </div-->
    </div>
</div>

<div align="center">
    <div class="alert alert-warning" role="alert">
        <h3>
            Hemos meditado <span id="causesTotalMinutes" class="label label-default">#</span> minutos por <span id="causesCause" class="label label-default">#</span>
        </h3>
    </div>	
</div>

<!--a href="#" class="list-group-item list-group-item-success" onClick="return Bhavana_gotoLastSessionPage();">
    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
    Meditaciones Guiadas
</a>
<a href="?x=bhavana/intro" class="list-group-item">
    <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
    Aprenda a meditar
</a>
<a href="?x=bhavana/tips" class="list-group-item">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    Consejos de meditación
</a>
<a href="?x=bhavana/timer" class="list-group-item list-group-item-success">
    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
    Meditación Libre (Cronómetro)
</a>
<a href="?x=bhavana/reminders" class="list-group-item">
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    Recordatorios
</a>

<div class="list-group">
    <div align="center">
        <a class="list-group-item list-group-item-info" href="" onClick="return false;">
            <h2>Meditación Para La Vida Diaria</h2>
        </a>
    </div>
    <a href="#" class="list-group-item list-group-item-success" onClick="return Bhavana_gotoLastSessionPage();">
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
        Meditaciones Guiadas
    </a>
    <a href="?x=bhavana/intro" class="list-group-item">
        <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
        Aprenda a meditar
    </a>
    <a href="?x=bhavana/tips" class="list-group-item">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Consejos de meditación
    </a>
    <a href="?x=bhavana/timer" class="list-group-item list-group-item-success">
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
        Meditación Libre (Cronómetro)
    </a>
    <a href="?x=bhavana/reminders" class="list-group-item">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        Recordatorios
    </a>
</div>
<div class="list-group">
    <div align="center">
        <a class="list-group-item list-group-item-info" href="" onClick="return false;">
            <h2>Datos</h2>
        </a>
    </div>
    <a class="list-group-item" href="?x=bhavana/myStats">
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
        Mis estadísticas
    </a>
    <a class="list-group-item" href="?x=bhavana/groupStats">
        <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
        Estadísticas grupales
    </a>
    <a class="list-group-item" href="?x=bhavana/meditationMap">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        Mapa
    </a>
</div>

<div class="list-group">
    <div align="center">
        <a class="list-group-item list-group-item-info" href="" onClick="return false;">
            <h2>La Sangha</h2>
        </a>
    </div>
    <a class="list-group-item" href="?x=bhavana/donate"
        onClick="return Cala_externalLink('donate');" id="donate">
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
        Contribuya o Participe
    </a>
    <li class="list-group-item">
    <a href="https://play.google.com/store/apps/details?id=org.lasangha.bhavana" onClick="return Cala_externalLink('playApp');" id="playApp">
        <img alt="Get it on Google Play"
        src="https://developer.android.com/images/brand/es-419_generic_rgb_wo_45.png" />
    </a>
    </li>
</div-->

<script>
Cala_runOnReady(bhavana_getMeditationMaxCauseTime);

// This is just in case the screen is set to remain on
Cala_runOnReady(Cala_keepScreenOff);

</script>


