<div align="center">

    <h1>Ayúdenos a ayudarle :)</h1>

    <div>
        Nos encanta saber su opinión, ¿Qué ha funcionado para usted? ¿Qué se puede mejorar? ¿Qué nuevas ideas tiene?
    </div>
    <br />
    <div class="alert alert-info" role="alert">
        Correo: lasanghacr@yahoo.com
        <br />
        Skype: lasangha
    </div>
    o también...
    <br />
    <br />
    <a href="http://facebook.com/lasanghacr" target="_blank" role="button" class="btn btn-lg btn-info"
				onClick="return Cala_externalLink('facebook');" id="facebook">
        Facebook
    </a>
    <a href="http://lasangha.tumblr.com/ask?ref=app_share" target="_blank" role="button" class="btn btn-lg btn-info"
				onClick="return Cala_externalLink('blog');" id="blog">
        Tumblr
    </a>

    <br />
    <br />
    <div class="alert alert-warning" role="alert">
        (Puede ponerse en contacto de forma anónima utilizando el formulario en Tumblr)
    </div>
    <br />
</div>
