<span class="page-header" style="display:none;">Palíndromos</span>

<div id="palindromes" class="well emptyWell">

    <div id="gameStart">
        <div class="alert alert-info" role="alert" id="gameInfo">
            Escriba la palabra en el campo de texto.<br />
            Si no la encuentra, cambie por una nueva.<br />
            No hay límite de tiempo.<br />
            Aunque no la encuentre, su mente se concentrará en buscar palabras positivas, ya eso es un buen cambio :)
        </div>

        <button type="button" class="btn btn-lg btn-block btn-success" onClick="WordShuffle.start(true);">
            <i class="fa fa-play fa-3x"></i>
        </button>
    </div>

    <div id="gameCanvas" align="center" style="display: none;">
        <h1 id="newWord" style="display: none;"></h1>
        <form onSubmit="return false;">
            <div class="input-group input-group-lg">
                <input type="text" id="guessedWord" class="form-control" onKeyUp="WordShuffle.checkGuessedWord()">
            </div>
        </form>
        <br />
        <button type="button" id="viewWord" class="btn btn-lg btn-block btn-info" onClick="WordShuffle.viewWord();">
            <i class="fa fa-eye fa-3x"></i>
        </button>
        <button type="button" class="btn btn-lg btn-block btn-success" onClick="WordShuffle.start(false);">
            <i class="fa fa-refresh fa-3x"></i>
        </button>

    </div>
</div>

<script src="modules/felicidad/js/wordShuffle.js"></script>

