<span class="page-header" style="display:none;">Palabras Positivas</span>

<div id="gameWords" style="display: none;">
    <table width="100%" border=0>
        <tr>
            <td align="center" valign="middle">
                <h2 id="totalPointsNext">
                    <span class="label label-success" id="totalPoints">0</span>
                </h2>
            </td>
            <td align="center" width="80%" valign="center">
                <div id="wordsToView" style="width: 100%; cursor: pointer;">
                    <!--ul id="allWords" class="list-group"></ul-->
                </div>

            </td>
            <td align="center" valign="center">
                <h2>
                    <span class="label label-info" id="totalPointsNextBar">5</span>
                </h2>
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-lg btn-block btn-info" id="pauseGame" onClick="WordsPositive.pause(true);">
        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
        Pausa
    </button>
</div>

<div id="playGame">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="alert alert-info" role="alert" id="gameInfo">
                Enfocando la mente en palabras positivas cambiamos la forma de ver el mundo, la forma en que lo persibimos y hasta la forma en que pensamos. Pruebe 5 minutos por día y compruébelo por usted mismo.
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <button type="button" class="btn btn-lg btn-block btn-success" onClick="WordsPositive.start();">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                Iniciar
            </button>
        </div>
    </div>
</div>
<script src="modules/felicidad/js/wordsPositive.js"></script>

