html{
    background: url('../img/bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    background: blue;
    background: rgba(0,0,0,0.1);
}

.wordsGame{
    background: rgba(255,255,255,0.7);
    border: 1px solid grey;
}

/* Bootstrap */
.collapseEmpty{
    background: rgba(255,255,255,0.1);
}

.panelBodyEmpty{
    background: rgba(255,255,255,0.2);
}

.panelEmpty{
    background: rgba(255,255,255,0);
}

a.onWell:hover, a.onWell:focus, a.onWell{
    color: #1a1a1a;
    text-decoration: none;
}

.page-header{
    margin: 10px 0 20px;
}

.container{
    padding: 0px;
}

/* //bootstrap */

#Bhavana_selectTips{
    margin-bottom: 15px;
}

#causesTotalMinutes, #causesCause{
}

#bhavana_meditationInstructions{
    display: none;
}

.list-group-item{
    font-size: 120%;
}

#bhavana_selectMeditationIntention{
    margin-bottom: 25px;
    //display: none;
}

#bhavana_waitingForVideo{
    display: none;
}

/* Checkin */
#checkInEmotions, #checkInSubmit{
    display: none;
}

.mindStatesBg1, .mindStatesBg3, .mindStatesBg3,.mindStatesBg4, .mindStatesBg5{
    color: white;
}
.mindStatesBg1{
    background-color: #E35542;
    border-color: #E35542;
}
.mindStatesBg2{
    background-color: #E09990;
    border-color: #E09990;
}
.mindStatesBg3{
    color: black;
    background-color: #E8E089;
    border-color: #E8E089;
}
.mindStatesBg4{
    background-color: #87CC99;
    border-color: #87CC99;
}
.mindStatesBg5{
    background-color: #5BB372;
    border-color: #5BB372;
}

.emotionsBgNeg{
    background-color: #E35542;
    color: white;
}
.emotionsBgPos{
    background-color: #5BB372;
    color: white;
}
